.confirm{
    margin-top: 25px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.img-fluid{
    margin-top: 25px;
    width:50%;
}
.confirmImg{
    width:210px;
}

.confirmBody{
    text-align: center;
}

.checkbox{
    margin: 2%
}

#backBtn{
float: left;
}

#nextBtn{
 float: right;
}

#confirmationBtn{
    padding:10%;
}