
  /* .Row{
    background-color: #EFF0F1;
    display: table;
  }
  
  .Column {
    padding: 20px;
    float: left;
    width: 33.33%;
    
  } */
  
  /* Clear floats after the columns */
  /* .Row:after {
    content: "";
    
    clear: both;
  } */
  
  /* .Column ul {
    list-style: none;
    
  } */

  
  .profiles{
    background-color: #ECEDEE;
  }
  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.col-sm{
  margin:5px;
  
}

.heading{
  text-align: right;
  margin-top: 25px;
}


.shelf-container {
  width: 85%;
  float: left;
  min-height: 600px; 
}


.wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 4.5%;
  
}

