.Services{
    padding: 20px 130px;
  }

  .card-deck{
    padding: 20px 130px;
    background-color: #fce38a;
  }

  .rounded-circle{
    align-self: center;
    height: 180px;
    width:180px;
  }

  .card.home{
    border: none;
    background-color: #fce38a;
  }

  .howItworks{
    background-color: #eaffd0;
    padding:10px 150px;
  }
  .tick{
    align-self: left;
    height: 70px;
    width:70px;
  }

  .howItworks ul{
    list-style: none;
  }